<!DOCTYPE html>

<html>
<head>
	{% load staticfiles %}	

	 <meta charset="UTF-8"> 

	<!-- estils --> 
	<link rel="stylesheet" type="text/css" href="{% static 'bttviewer/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bttviewer/css/bootstrap.css' %}" />
	<!-- Imports de javscript -->
	<script src="{% static 'bttviewer/jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'bttviewer/jquery-ui/jquery-ui.js' %}"></script>
	<script src="{% static 'bttviewer/js/scripts.js' %}"></script>
	
	{% block scripts %}

	{% endblock %}

	<title>
	{% block title %}

	{% endblock %}
	</title>
	<!-- Here we can load new scripts. --> 


</head>
<body>

	<div class="container">

		{% block menu %}

		{% endblock %}

		{% block banner %}

		{% endblock %}

		{% block content %}

		{% endblock %}

	</div>

</body>
</html>