{% extends 'base.html' %}

{% block title %}
	login
{% endblock %}

{% block menu %}
	{% include 'bttviewer/menu.html'%}
{% endblock %}

{% block banner %}
	{% include 'bttviewer/banner.html'%}
{% endblock %}


{% block content %}

<form id="login_form" method="post" action="/login/">
    {% csrf_token %}

    <ul class="login_list">
	    <li>
	    	<p>Username:</p> <p><input type="text" name="username" value="" size="50" /></p>
	    </li>
	    <li>
	    	<p>Password:</p> <p> <input type="password" name="password" value="" size="50" /></p>
		</li>
		<li>
    		<p><input class="submit_login" type="submit" value="submit" /></p>
    	</li>
</form>

{% endblock %}

