{% extends 'base.html' %}

{% load staticfiles %}	

{% block title %}
	Plano {% if plane %}"{{ plane }}"{% else %} no trobat{% endif %}
{% endblock %}

{% block scripts %}
	<script src="{% static 'bttviewer/js/model/BttEnginyers.js' %}"></script>
{% endblock %}

{% block menu %}
	{% include 'bttviewer/menu.html'%}
{% endblock %}

{% block banner %}
	{% include 'bttviewer/banner.html'%}
{% endblock %}

{% block content %}

	
	<script> 


		function updateSize(){

			$( ".obj" ).each(function() {
				//console.log($(this));
				var initObj = init[$(this).attr('id')];

				var sizeW = ($("#plane_image_id").width() * initObj.img_width) / maxWSize;
				var sizeH = ($("#plane_image_id").height() * initObj.img_height) / maxHSize;

				$(this).css({width:sizeW});	
				$(this).children().css({width:sizeW});
				$(this).css({height:sizeH});
				$(this).children().css({height:sizeH});

				// EL moguem al lloc que toca. 
				var positionX = ($("#plane_image_id").width() * initObj.x) / maxWSize;
				var positionY = ($("#plane_image_id").height() * initObj.y) / maxHSize;

				$(this).css({left:positionX});
				$(this).css({top:positionY});

				//console.log("position X :" + positionX);
				//console.log("position Y :" + positionY);

			});
		}

		var list = JSON.parse("{{ json_objects|escapejs }}");
		var mediaPath = "{{ STATIC_URL }}" + "media";
		
		//console.log(mediaPath);

		var maxWSize = 838;
		var maxHSize = 592;

	</script>
	

	<div class="plane-content" style="padding-top : 20px;">

	{% if plane %}
		<div class="row" style="min-height: 100%;display: flex;align-items: center;">
			<div class="col-xs-10">
				<h2>Plànol : {{ plane.a_name }}</h2>
			</div>
			{% if admin %}
			<div class="col-xs-2 desar_button_div">
				<button class="desar_button btn btn-primary" onclick="save()">GUARDAR</button>
			</div> 
			{% endif %}
		</div>	

		{% if admin %}
		<div class="alert alert-danger" role="alert" id="sendNotOk">
		  Quelcom ha anat malament i no s'han pogut actualitzar els elements, contacta amb l'administrador. Gràcies per el feedback!! 
		</div>
		<div class="alert alert-success" role="alert" id="sendOk">
		  Elements modificats correctament
		</div>
		
		<script>
			$('#sendNotOk').hide();
			$('#sendOk').hide();
		</script>
		{% endif %}

		<div class="row">
		
			<div id="items-list" class="col-xs-3">
				<div class="list-item-header">
					<div class="col-xs-8">
						<p class="header"><b>Nom</b></p>
					</div>
					<div class="col-xs-4">
						<p><b>Valor</b></p>
					</div>
				</div>
				{% if objects %}
					{% for object in objects %}
					<div class="list-item {{object.type }}-{{ object.pk }}-listitem">
							<div class="col-xs-8">
							{{ object.a_name }}
							</div>
							<div id="{{object.type }}-{{ object.pk }}-container" class="col-xs-4" style="height:{{ object.a_height }}px">
							{% if object.a_moved %}
								
							{% else %}
								{% include 'bttviewer/list_object.html' with object=object %}
							{% endif %}
							</div>
					</div>
					{% endfor %}
				{% endif %}
				
			</div>

			<div class="col-xs-9">
				<div class="img_container" style="position: relative;">

					{% if objects %}
						{% for object in objects %}
								{% if object.a_moved %}
									{% include 'bttviewer/list_object.html' with object=object %}
								{% endif %}
						{% endfor %}
					{% endif %}
					<img id="plane_image_id" class="" src="{{ STATIC_URL }}{{ plane.a_image }}" style="width:100%;position:relative; z-index:0;" onload="updateSize()"/>
					
				</div>
			</div>
		</div>

		<script type="text/javascript">

			insertListToMap(init, list, mediaPath);

			window.onresize = function(){
				$( ".obj" ).each(function() {
					//console.log($(this));
					var initObj = init[$(this).attr('id')];

					var sizeW = ($("#plane_image_id").width() * initObj.img_width) / maxWSize;
					var sizeH = ($("#plane_image_id").height() * initObj.img_height) / maxHSize;

					$(this).css({width:sizeW});	
					$(this).children().css({width:sizeW});
					$(this).css({height:sizeH});
					$(this).children().css({height:sizeH});

					// EL moguem al lloc que toca. 
					var positionX = ($("#plane_image_id").width() * initObj.x) / maxWSize;
					var positionY = ($("#plane_image_id").height() * initObj.y) / maxHSize;

					$(this).css({left:positionX});
					$(this).css({top:positionY});

					//console.log("position X :" + positionX);
					//console.log("position Y :" + positionY);

				});
			}

			

		</script>

	{% else %}
	<div class="row">
		<h2>No hi ha res a mostrar</h2>
		<p></p>
	</div>
	{% endif %}


	</div>
{% endblock %}